{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks%}

{% block content %}
<section class="bg-black text-white py-5 rounded-section">
  <div class="container">
    <h1 class="text-center text-warning fw-bold mb-4">{% trans "Leave a Request" %}</h1>
    <p class="text-center fs-5 mb-5">
      {% trans "Leave your contact information, choose a service type, and we will contact you for consultation." %}
    </p>

    {% if messages %}
      <div class="alert alert-danger text-center">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}

    <form method="post" class="bg-dark p-4 rounded-4 shadow-lg mx-auto" style="max-width: 700px;">
      {% csrf_token %}
      {{ form.extra_field }}

      <div class="mb-4">
        <label for="{{ form.full_name.id_for_label }}" class="form-label fs-5">{% trans "Full Name" %}</label>
        {{ form.full_name|add_class:"form-control form-control-lg rounded" }}
      </div>

      <div class="mb-4">
        <label for="{{ form.phone.id_for_label }}" class="form-label fs-5">{% trans "Phone" %}</label>
        {{ form.phone|add_class:"form-control form-control-lg rounded" }}
      </div>

      <div class="mb-4">
        <label for="{{ form.email.id_for_label }}" class="form-label fs-5">Email</label>
        {{ form.email|add_class:"form-control form-control-lg rounded" }}
      </div>

      <div class="mb-4">
        <label for="{{ form.request_type.id_for_label }}" class="form-label fs-5">{% trans "Request Type" %}</label>
        {{ form.request_type|add_class:"form-select form-select-lg rounded" }}
      </div>

      <div class="mb-4">
        <label for="{{ form.message.id_for_label }}" class="form-label fs-5">{% trans "Comment" %}</label>
        {{ form.message|add_class:"form-control form-control-lg rounded" }}
      </div>

      <div class="text-center mt-4">
        <button type="submit" class="btn btn-warning btn-lg px-5">{% trans "Submit Request" %}</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
