{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="bg-black text-white py-5 min-vh-100 d-flex align-items-center">
  <div class="container text-center">
    <img src="{% static 'img/checkmark.png' %}" alt="{% trans 'Success' %}" class="mb-4" style="width: 100px;">
    <h1 class="text-warning fw-bold mb-3">{% trans "Thank you for your request!" %}</h1>
    <p class="fs-5 mb-4">
      {% trans "We have received your information and will contact you shortly." %}
    </p>
    <a href="/" class="btn btn-warning btn-lg px-5">{% trans "Return to homepage" %}</a>
  </div>
</section>
{% endblock %}
